{% extends 'base.html' %}
{% load static %}

{% block title %}Sobre{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="mb-4">Sobre o Portal de Submissões</h1>
            <p class="text-muted">
                Este portal foi criado para facilitar a submissão e revisão de trabalhos acadêmicos e profissionais. Nosso objetivo é oferecer uma plataforma acessível e eficiente para acadêmicos e profissionais de diversas áreas compartilharem suas pesquisas e descobertas.
            </p>
            <h2>Missão</h2>
            <p>
                Nossa missão é promover o intercâmbio de conhecimento entre diversas disciplinas e ajudar a impulsionar a inovação e o avanço em várias campos de estudo e indústrias.
            </p>
            <h2>Visão</h2>
            <p>
                Ser reconhecido como o principal portal de submissões para trabalhos acadêmicos e profissionais, onde membros de diversas comunidades podem facilmente acessar e contribuir para o crescimento e desenvolvimento global do conhecimento.
            </p>
            <h2>Valores</h2>
            <ul>
                <li><strong>Integridade:</strong> Compromisso com a veracidade e a ética na gestão e divulgação dos trabalhos submetidos.</li>
                <li><strong>Inovação:</strong> Encorajar e apoiar a inovação em todas as submissões e interações dentro da plataforma.</li>
                <li><strong>Acessibilidade:</strong> Garantir que a plataforma seja acessível a todos, independentemente da localização geográfica ou do campo de estudo.</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
