{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static '/flavicon/grupomagister.ico' %}" type="image/x-icon">
    <title>{% block title %}Portal de Submissões CONAFF{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/custom.js' %}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" defer></script>
</head>
<body>
    <header>
       {% if user.is_authenticated %}
    <nav class="navbar navbar-expand-lg fw-bold" style="background-color: #c9d833; color: #004737;">
        <div class="container">
            <img src="{% static 'img/grupo.png' %}" alt="logo do grupo magister, na cor azul" width="100">
            <a class="navbar-brand" href="{% url 'home' %}" style="color: #004737">
                Portal Submissões do XIII CONAFF </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto" >
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'submission_form' %}">Submeter Trabalho</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'view_submissions' %}">Minhas Submissões</a>
                    </li>
                    {% if user.is_superuser %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'admin_dashboard' %}">Admin Dashboard</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% else %}
    <nav class="navbar navbar-expand-lg fw-bold" style="background-color: #c9d833; color: #004737;">
        <div class="container">
            <img src="{% static 'img/grupo.png' %}" alt="logo do grupo magister, na cor azul" width="100">
            <a class="navbar-brand ms-3" href="{% url 'home' %}">
                Portal Submissões do XIII CONAFF</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Registre-se</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endif %}

    </header>

    <main class="container mt-5">
        <!-- Exibição das mensagens de sucesso, erro, etc. -->
        {% if messages %}
        <div class="container mt-3">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>
    {% endif %}

        {% block content %}
        <!-- Conteúdo específico da página aqui -->
        {% endblock %}
    </main>

    <footer class="text-center py-3 mt-5 fw-bold" style="background-color: #c9d833; color: #004737;">
        © 2024 Portal de Submissões do XIII CONAFF. Todos os direitos reservados.
    </footer>

</body>
</html>
